* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

.container {
     width: calc(700px + 50%);
     margin: 100px 0px 100px auto;
}

.element {
     margin: 0px 15px 0px 0px;
}

.slick-slider .slick-list {
     padding-right: 11% !important;
}

img {
     width: 100%;
     cursor: none;
}

.cursor {
     position: absolute;
     z-index: 100000;
     pointer-events: none;
     transform: translate(-50%, -50%);
     overflow: hidden;
}

.text {
     font-size: 20px;
     line-height: 120%;
     font-weight: 500;
     background-color: rgba(64, 224, 208, 1);
     color: #fff;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 20px;
     width: 100px;
     height: 100px;
     transform: scale(0);
     pointer-events: none;
     transition: all 0.3s ease-in-out;
}

.expand {
     border-width: 3px;
     transform: scale(1.5);
     animation: rotateExpand 1s linear infinite forwards;
}

@keyframes rotate {
     0% {
          transform: translate(-50%, -50%) scale(1) rotate(0deg);
     }

     100% {
          transform: translate(-50%, -50%) scale(1) rotate(360deg);

     }
}

@keyframes rotateExpand {

     0% {
          border-top-color: rgba(64, 224, 208, 0.6);
          border-right-color: rgba(64, 224, 208, 0.7);
          border-bottom-color: rgba(64, 224, 208, 0.8);
          border-left-color: rgba(64, 224, 208, 1);
          transform: translate(-50%, -50%) scale(1);
     }

     50% {
          border-top-color: rgba(255, 0, 0, 0.6);
          border-right-color: rgba(255, 0, 0, 0.7);
          border-bottom-color: rgba(255, 0, 0, 0.8);
          border-left-color: rgba(255, 0, 0, 1);
          transform: translate(-50%, -50%) scale(1.2);
     }

     100% {
          border-top-color: rgba(64, 224, 208, 0.6);
          border-right-color: rgba(64, 224, 208, 0.7);
          border-bottom-color: rgba(64, 224, 208, 0.8);
          border-left-color: rgba(64, 224, 208, 1);
          transform: translate(-50%, -50%) scale(1);
     }
}

@media only screen and (max-width: 1440px) {
     .container {
          width: calc(575px + 50%);
     }
}

@media only screen and (max-width: 1200px) {
     .container {
          width: calc(475px + 50%);
     }
}

@media only screen and (max-width: 991px) {
     .container {
          width: calc(375px + 50%);
     }

     .slick-slider .slick-list {
          padding-right: 15% !important;
     }
}

@media only screen and (max-width: 767px) {
     .container {
          width: calc(275px + 50%);
     }

     .slick-slider .slick-list {
          padding-right: 20% !important;
     }
}

@media only screen and (max-width: 575px) {
     .container {
          width: 100%;
          padding-left: 15px;
     }

     .slick-slider .slick-list {
          padding-right: 33% !important;
     }
}